:root {
  --primary-color: #00BFFF;
  --secondary-color: #444;
  --background-color: #242424;
  --task-bg-color: #333;
  --text-color: rgba(255, 255, 255, 0.87);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1 {
  text-align: center;
}

input {
  padding: 0.75rem;
  border: 2px solid var(--secondary-color);
  border-radius: 0.5rem;
  font-size: 1rem;
  background: var(--task-bg-color);
  color: white;
  outline: none;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

input:focus {
  border-color: var(--primary-color);
  /* box-shadow: 0 0 0.625rem var(--primary-color); */
}

button {
  padding: 0.75rem 1.25rem;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--primary-color);
  color: whitesmoke;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
  font-weight: 550;
}
